.page-header {
  background-color: black;
}
.sidebar {
  background-color: #454443;
  min-height: 400px;
  color: grey;
  border: 1px solid black;
}
.sidebar-header {
  background-image: -webkit-linear-gradient(90deg, #2c2a29 0%, #32302f 100%);
  border: 1px solid black;
  border-top: none;
  text-align: justify;
}
.sidebar-header span {
  padding:0px 0px 0px 15px;
  line-height: 34px;
  font-size: 9px;
  letter-spacing: 2px;
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar-tabs {
  min-height: 40px;
  position: relative;
  padding:5px 10px 18px 55px;
  border-bottom: 1px outset #ccc;
}
.sidebar-links {
  padding-bottom: 3px;
  margin-right: 30px;
  color: rgba(223, 240, 216, 0.74);
  line-height: 34px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'ProximaNova-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar-links-active {
  border-bottom: 3px solid #4285f4;
}
